* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F3F3F3;
  padding: 19px;
  font-family: 'Open Sans', sans-serif;
}

//mixins
@mixin image-with-text-container($opacity-color, $div-width) {
  width: 100%;
  position: relative;
  margin-top: 51px;
  overflow: hidden;
  justify-content: center;
  &::after {
    content: "";
    background: $opacity-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  div {
    width: $div-width;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//main header
#main-header-container {
  position: relative;
  #cospace-logo {
    display: block;
    margin: 0 auto;
  }
  #hamburger-icon-container {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 20px;
    right: 13px;
    #hamburger-icon {
      width: 100%;
      height: 100%;
      div {
        background-color: #089D9E;
        width: 100%;
        height: 4px;
        margin-bottom: 5px;
      }
    }
    #x-icon {
      display: none;
      width: 100%;
      height: 100%;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background-color: #089D9E;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  #dropdown-menu-container {
    display: none;
    margin: 19px -19px 0 -19px;
    background-color: #FFF;
    text-align: center;
    font-size: 25px;
    div {
      padding: 10.5px 0;
      border-bottom: 1px solid #D9D9D9;
      &:nth-child(5) {
        border-bottom: none;
      }
    }
  }
}//main header end

.main-image-container {
  @include image-with-text-container(rgba(51, 19, 7, .4), 100%);
  height: calc(80px + 45vw);
  display: flex;
  img {
    height: 100%;
  }
  h1 {
    color: #FFF;
    font-size: 39px;
    font-style: italic;
    font-weight: 900;
  }
}
#main-landing-page-content-container {
  padding: 52px 18px 0 18px;
  h2 {
    font-size: 27px;
    font-weight: 900;
    color: #E27D60;
    text-align: center;
    margin-bottom: 22px;
  }
  p {
    font-size: 20px;
    color: #707070;
    margin-bottom: 32px;
  }
  .content-divider {
    width: 100%;
    height: 2px;
    background-color: #41B3A3;
    margin-bottom: 32px;
  }
  #quote-container {
    @include image-with-text-container(rgba(195, 141, 157, .4), 90%);
    height: calc(80px + 45vw);
    img {
      height: 100%;
      width: 100%;
    }
    div {
      flex-direction: column;
      margin: auto;
      p {
        color: #000;
        &:nth-child(1) {
          font-size: 21px;
          font-weight: 900;
          font-style: italic;
        }
        &:nth-child(2) {
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 900;
        }
      }
    }
  }
  #suggestion-plan-container {
    @include image-with-text-container(rgba(0,0,0, .4), 70%);
    height: calc(130px + 45vw);
    margin-bottom: 22px;
    img {
      height: 100%;
      width: 100%;
    }
    div {
      flex-direction: column;
      margin: auto;
      p {
        color: #FFF;
        &:nth-child(1) {
          font-size: 23px;
          font-weight: 900;
          font-style: italic;
        }
        &:nth-child(2) {
          margin-bottom: 0;
          font-size: 29px;
          font-weight: 900;
        }
      }
    }
  }
  .activities {
    width: 182px;
    margin: 0 auto 19px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      margin-bottom: 23px;
    }
    P {
      text-align: center;
    }
  }
}
